<st-grid fx="1 1 0%" fx-justify-content="space-between">
  <st-section
    class="clickable hoverable"
    fxLayout
    fxLayoutAlign="center center"
    fxFlex="0 0 0%"
    [routerLink]="router.get_url(URLs.todos_new)"
    style="align-self: center; aspect-ratio: 1"
  >
    <fa [fa]="Icons.add" fasize="3"></fa>
  </st-section>

  <st-section
    class="clickable note"
    *ngFor="let todo of todos"
    [routerLink]="router.get_url(URLs.todos_todo, [todo.id])"
  >
    <quill-view [content]="todo.body"></quill-view>
  </st-section>
</st-grid>
