<form>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (ngModelChange)="search()"
    placeholder="Type to search..."
    name="search"
    class="search"
  />
  <select [(ngModel)]="loaderType" (ngModelChange)="search()" name="loaderType">
    <option [value]="null">All</option>
    <option *ngFor="let loaderType of loaderTypes" [value]="loaderType">
      {{ loaderType }}
    </option>
  </select>
</form>

<div>
  <section *ngFor="let obj of searchResult" class="small">
    <p>{{ obj.title }}</p>
  </section>
</div>
