header {
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  padding: var(--unit-normal);
  padding-top: calc(
    max(env(safe-area-inset-top), var(--unit-normal) - var(--unit-tiny)) +
      var(--unit-tiny)
  );
  padding-left: calc(
    max(
      min(
        max(
          calc(env(safe-area-inset-right) + var(--unit-auto)),
          var(--unit-auto)
        ),
        var(--unit-normal)
      ),
      var(--unit-small)
    )
  );
  padding-right: calc(
    max(
      min(
        max(
          calc(env(safe-area-inset-right) + var(--unit-auto)),
          var(--unit-auto)
        ),
        var(--unit-normal)
      ),
      var(--unit-small)
    )
  );
}
