:root {
  --tran-background-color: background-color 1s;
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
  // overflow-x: hidden;
}
body {
  transition: background-color 1s;
  min-height: 100vh;

  > div.background {
    // background-color: var(--color-background) !important;
    // background: linear-gradient(to left top, #7be4d1, #6cdbeb) !important;

    // background-image: url("../../assets/images/backgrounds/crystals.jpeg");
    // background-image: url("../../assets/images/backgrounds/wesley-tingey.jpg");

    // background-image: url("https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg");
    // background-image: url("https://media.istockphoto.com/vectors/gradient-blob-abstract-background-vector-id1282505760?k=6&m=1282505760&s=612x612&w=0&h=3qdPxcMLplq-nJIFftwBbPci7L8k8EN70C-rqEB7CGM=");
    // background-image: url("https://cdn.dribbble.com/users/247458/screenshots/5083720/wallpaper2.jpg");
    // background: linear-gradient(45deg, #fc466b, #3f5efb);
    // background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    background-image: url("https://source.unsplash.com/8uZPynIu-rQ");

    background-size: cover;
    background-position: center;

    position: fixed;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
  }
}
