:root {
  --tran-background-color: background-color 1s;
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  transition: background-color 1s;
  min-height: 100vh;

  > div.background {
    // background-color: var(--color-background) !important;
    // background: linear-gradient(to left top, #7be4d1, #6cdbeb) !important;
    // background: url("https://source.unsplash.com/featured/?kitten");

    // background-image: url("https://source.unsplash.com/collection/i3sgkkUavrk");

    // background-image: url("https://source.unsplash.com/PrQqQVPzmlw");
    // background-image: url("https://source.unsplash.com/qjCHPZbeXCQ");

    // background-image: url("../../assets/images/backgrounds/crystals.jpeg");

    background-image: url("../../assets/images/backgrounds/crystals.jpeg");
    background-size: cover;
    background-position: center;

    position: fixed;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
  }
}
