/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5em; /* for vertical scrollbars */
  height: 0.5em; /* for horizontal scrollbars */
}
// ::-webkit-scrollbar-track {
//   // background: var(--colors-background-secondary);
//   background: rgba($color: #000000, $alpha: 0);
// }
::-webkit-scrollbar-thumb {
  background: var(--color-font);
  border-radius: 99999em;
}
