<objective-editor
  [loaderType]="gv.LoaderServices.todo"
  [mode]="mode"
  [routeViewObjective]="gv.URLs.todos_todo"
  (beforeAddChange)="beforeAddEvent($event)"
  #editor
>
  <div class="objective-editor" *ngIf="!editor.loader.isLoading()">
    <section>
      <label for="title" class="required">Title</label>
      <input
        placeholder="Title"
        name="title"
        [(ngModel)]="editor.objective.title"
        required
      />
    </section>
    <section>
      <label for="description">Description</label>
      <quill-editor
        [(ngModel)]="editor.objective.description"
        [readOnly]="editor.loader.isLoading()"
        [modules]="gv.modules"
        placeholder="Description"
        name="description"
        #quill
      ></quill-editor>
    </section>
  </div>
</objective-editor>
