::ng-deep {
  .pop_container {
    // POSITION
    &.pop_pos_normal {
      position: relative;
    }
    &.pop_pos_center {
      .popover {
        transform: translate(calc(50vw - 50%), calc(50vh - 50%));
        top: 0;
        left: 0;
      }
    }
  }
  .popover {
    text-align: center;
    z-index: 999;

    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    // overflow: auto;

    position: absolute;

    // ALLIGN
    &.pop_al_left {
      top: 0;
      left: 50%;
    }
    &.pop_al_center {
      top: 0;
      left: 50%;
      right: 50%;
      transform: translateX(-50%);
    }
    &.pop_al_right {
      top: 0;
      right: 0;
    }
  }
}
