<objective-viewer [loaderType]="gv.LoaderServices.note" #viewer>
  <div class="objective-viewer" *ngIf="!viewer.loader.isLoading()">
    <form>
      <section>
        <quill-editor
          [(ngModel)]="viewer.objective.description"
          [readOnly]="viewer.loader.isLoading()"
          [modules]="gv.modules"
          (ngModelChange)="autosave.next({})"
          placeholder="Description"
          name="description"
          #quill
        ></quill-editor>
      </section>
    </form>
  </div>
</objective-viewer>
