.clickable {
  cursor: pointer;
  transition: transform 0.4s;

  &.hoverable:hover {
    transform: scale(1.05);
  }
}

/* LIST */
ul.nostyle {
  padding-left: 0 !important;
  list-style-type: none;
}

/* BLUR */
.blur {
  backdrop-filter: blur(0.5em);
}

.spacer {
  width: 0;
  height: 0;
  margin: var(--unit-small);
}

.inset {
  @include units;
  margin-left: var(--unit);
  margin-right: var(--unit);
}

/* EDITABLE TEXT */
.editable-text {
  display: flex;
  > * {
    flex-grow: 1;
  }
}
