.st-content {
  padding: var(--unit-normal);
  padding-left: calc(
    max(
        env(safe-area-inset-left) + var(--unit-tiny),
        var(--unit-normal) - var(--unit-tiny)
      ) + var(--unit-tiny)
  );
  padding-right: calc(
    max(
        env(safe-area-inset-right) + var(--unit-tiny),
        var(--unit-normal) - var(--unit-tiny)
      ) + var(--unit-tiny)
  );
}
