.st-content {
  padding: var(--unit-normal);
  padding-left: calc(
    min(
      max(
        calc(env(safe-area-inset-right) + var(--unit-auto)),
        var(--unit-auto)
      ),
      var(--unit-large)
    )
  );
  padding-right: calc(
    min(
      max(
        calc(env(safe-area-inset-right) + var(--unit-auto)),
        var(--unit-auto)
      ),
      var(--unit-large)
    )
  );
}
