<st-content>
  <h1>Dashboard</h1>

  <section>
    <h2>Boards</h2>
    <st-grid fx="1 1 0%">
      <st-section class="clickable hoverable">
        <h3>Board1</h3>
        <p>Board for testing</p>
      </st-section>
      <st-section class="clickable hoverable">
        <h3>Board2</h3>
        <p>Board for testing, but another one</p>
      </st-section>
      <st-section class="clickable hoverable">
        <h3>Board3</h3>
        <p>Board for testing, but the third now</p>
      </st-section>
    </st-grid>
  </section>
  <section>
    <h2>Notes</h2>
    <notes-dashboard></notes-dashboard>
  </section>
  <section>
    <h2>Tasks</h2>
    <st-grid fx="1 1 0%">
      <st-section class="clickable hoverable">
        <h3>Task1</h3>
        <p>Task for testing</p>
      </st-section>
      <st-section class="clickable hoverable">
        <h3>Task2</h3>
        <p>Yet another task for testing</p>
      </st-section>
    </st-grid>
  </section>
</st-content>
