<form #form="ngForm">
  <section>
    <label for="title" class="required">Title</label>
    <input placeholder="Title" name="title" [(ngModel)]="todo.title" required />
  </section>
  <section>
    <label for="description">Description</label>
    <quill-editor
      [(ngModel)]="todo.description"
      [readOnly]="loader.isLoading()"
      [modules]="{
        'emoji-shortname': true,
        'emoji-textarea': true,
        'emoji-toolbar': true,
        toolbar: toolbarOptions
      }"
      placeholder="Description"
      name="description"
      #quill
    ></quill-editor>
  </section>
</form>

<section fxLayout fxLayoutAlign="center" [fxLayoutGap]="gv.unit_normal">
  <button (click)="cancel()">Cancel</button>

  <button (click)="add()" *ngIf="mode == 'add'" [disabled]="loader.isLoading()">
    Add new todo
  </button>
  <button
    (click)="save()"
    *ngIf="mode == 'edit'"
    [disabled]="loader.isLoading()"
  >
    Save todo
  </button>
</section>
